<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/src/style.css")
</head>

<body onload="load()">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Главная", "Main", "Home")</li>
                    <li>@Html.ActionLink("Поиск", "Search")</li>
                    <li>@Html.ActionLink("Мои продажи", "Requests_Sales")</li>
                    <li>@Html.ActionLink("Мои покупки", "Requests_Buys")</li>
                    
                    <li>@Html.ActionLink("Выход", "Login")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()


    </div>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
<script type="text/javascript">
    let str = document.cookie;
    if ((str.indexOf("user=;") != -1) || (str.indexOf("user=") == -1)) {
        if (document.location =="https://localhost:44394/")
            document.location = "Home/Login";
        else
            document.location = "Login";
    }
</script>
